<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-col-xs12">
			<div class="layui-card">
				<div class="layui-card-header">电影票管理</div>
				<div class="layui-card-body moviesList">
					<div class="layui-row">
						<div class="layui-inline">
							<label class="layui-form-label">电影名称</label>
							<div class="layui-inline">
								<input type="text" class="layui-input" d="moviesName" name="moviesName">
							</div>
							<button v-on:click="loadData" class="layui-btn layui-btn-normal">查询</button>
						</div>
					</div>
				
					<table class="layui-table">
						<thead>
							<tr>
								<th>ID</th>
								<th>电影名称</th>
								<th>导演</th>
								<th>时长</th>
								<th>语言</th>
								<th>首映日期</th>
								<th>票房</th>
								<th>票价</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="item in dataSource">
								<td>{{item.id}}</td>
								<td>{{item.moviename}}</td>
								<td>{{item.director}}</td>
								<td>{{item.time}}</td>
								<td>{{item.language}}</td>
								<td>{{item.publishdate}}</td>
								<td>{{item.boxoffice}}</td>
								<td>{{item.ticketprice}}</td>								
								<td>
									<button v-on:click="createTickets" data-id="{{item.id}}" class="layui-btn layui-btn-danger">生成电影票</button>
								</td>
							</tr>
						</tbody>		
					</table>
					<div id="laypageDemo"></div>
				</div>
			</div>
		</div>
		
	</div>
	

</div>
<script>
var $ = layui.jquery;
var vm = new Vue({
	el: '.moviesList',		//生效范围
	data:{
		dataSource: []
	},
	methods: {
		//查询电影票
		loadData: function(page,rows){
			var moviesName = $("#moviesName").val();
			page = page?page:1;
			rows = rows?rows:5;
			this.$http({
				url: 'movies/list.do',
				data:{
					movieName: moviesName,
					page:page,
					rows:rows
				}
			}).then(function(res){
				var data = res.data;
				vm.dataSource = data.rows;
				layui.use('laypage',function(){
					var laypage = layui.laypage;
					laypage.render({
						elem: 'laypageDemo',
						count: data.total,
						limit: rows,
						curr: page,
						jump: function(obj,first){
							//首次不执行
							if(!first){
								vm.loadData(obj.curr,obj.limit);
							}
						}
					})
				});
			});
		},
		
		//生成电影票
		createTickets: function(e){
			if(!confirm('您确定要生成该电影的电影票吗？')){
				return;
			}
			this.$http({
				url: 'movies/createTickets.do?movieid='+e.target.dataset.id,
						data:{}
			}).then(function(res){
				var data = res.data;
				if(data.code == -1){
					alert("后台出现错误，请核实！");
					return;
				}else if(data.code == 2){
					alert("该电影已生成电影票，无法重复生成！");
					return;
				}
				alert("电影票生成成功!");
				location.reload();
			});
		}		
	}
});
vm.loadData();
</script>
























